body {
    height: 100vh;
    overflow-y: hidden;
}


/* Navigation Menu */

.container-90 {
    width: 90%;
    margin: auto;
}

.container-nav {
    overflow-y: auto;
}

.container-nav .collapsible,
.container-nav .collapsible-header,
.container-nav .collapsible-body {
    border: none;
    letter-spacing: 1px;
    font-size: large;
    text-transform: uppercase;
    font-weight: 450;
}

.container-nav .collapsible .collapsible-body {
    min-height: 15vh;
}

.container-nav .collapsible .collapsible-body ul li a {
    letter-spacing: 1px;
    font-size: large;
    text-transform: uppercase;
}

.container-nav .collapsible-header .profile {
    margin: 4rem auto 2rem;
}


/* Login Page */

.container-login .card {
    margin-top: 15vh;
    min-height: 70vh;
    border-radius: 2%;
}

.container-login .card .card-content {
    padding-top: 4rem;
}

.container-login .card .card-content form {
    padding-top: 2rem;
}

.container-login .card .card-content form input {
    margin: 1.5rem auto;
}


/* Home Page  */

.container-home,
.container-home .container-home-right,
.container-home .container-home-left {
    height: 100vh;
}

.container-home .container-home-right {
    overflow-y: auto;
}